h1, h2, h3{
	font-family: 'Sigmar One', cursive;
	color: #00cc99;
}

p {
	font-family: 'Crimson Text', serif;
	color: white;
}

h1 {
	text-decoration-style: solid;
	text-decoration-color: orange;
}

h3 {
	border-bottom: 6px solid orange;
}

h2 {
	border-left: 6px solid orange;
	padding-left: 5px;
}

img {
	height: 25vh; 
}

.text {
	border: 2px solid lightgrey;
	background-color:  rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	padding: 15px;
}

#content{
	border-style: ;
	border-radius: ;
}

body {
	background-image: url('../images/background.png');
	background-size: cover;
}