h1, h2, h3{
	font-family: 'Sigmar One', cursive;
	color: white;
}

p {
	font-family: 'Crimson Text', serif;
	color: white;
}

h2 {
	border-left: 6px solid lightblue;
	padding-left: 5px;
}

img {
	height: 30vh;
	/*position: relative;
	top: -40vh;
	right: 10vw;
	float: right;*/
}

div {
	color: white;
}

.text {
	border: 2px solid lightgrey;
	background-color:  rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	padding: 15px;
}

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
}

#output {
	column-count: 4;
	padding-bottom: 5vh;
}